html, body {
    height:100%;
    padding:0;
    margin:0;
}

#logo {
    position:relative;
    width:200px;
    margin:0 auto;
    display:block;
    height:132.5px;
    top:33.75px;

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}

#logo:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

iframe, img {
    display:block;
    margin:0 auto;
}

body {
    font-family:"Segoe UI";
    background-color:#696969;
    color:white;
}

h1 {
    font-family:"Palatino Linotype";
    color:#FFD700;
}

h2 {
    font-family:"Palatino Linotype";
    color:#FFD700;
}

a:link {
    color:#FFD700;
}

a:visited {
    color:#DAA520;
}

a:hover {
    text-decoration:none;
    transition-duration:0.2s;
    transition-property:color;
    color:yellow;
}

a:active {
    color:white;
    padding-top: 2px;
}

strong {
    color:#FFD700;
    font-size:20px;
    background-color:#DAA520;
}

.note {
  opacity: 0.8;
}

a[href^="http"] {
    background-image:url("img/globo.png");
    background-repeat:no-repeat;
    padding-left:20px;
}

header {
    height:200px;
    background-color:white;
    padding:0;
    margin:0;
}

.content {
    padding:40px;
}
